<div class="container">
    <h1 class="text-center">Logo y Redes</h1>

<div class="row p-4">
    <div class="col-md-10">
        <form action="/admin/social/create" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="logo">Logo</label>
                <input type="text" class="form-control" required name="logo" id="logo" placeholder="URL de la imagen del logo">
            </div>

            <div class="form-group">
                <label for="facebook">Facebook</label>
               <input type="text" class="form-control"  name="facebook" id="facebook" placeholder="URL de la página de Facebook">
            </div>

            <div class="form-group">
                <label for="twitter">Twitter</label>
                <input type="text" class="form-control"  name="twitter" id="twitter" placeholder="URL de la página de Twitter">
            </div>
            
            <div class="form-group">
                <label for="instagram">Instagram</label>
                <input type="text" class="form-control"  name="instagram" id="instagram" placeholder="URL de la página de Instagram">
            </div>

             <div class="form-group">
                <label for="phone">Teléfono</label>
                <input  type="text" class="form-control"  name="phone" id="phone" placeholder="Número de teléfono">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control"  name="email" id="email" placeholder="URL de la página de Instagram">
            </div>

            <button class="btn btn-outline-success btn-large" type="submit">Guardar</button>

        </form>
    </div>
</div>

</div>
