<!doctype html>
<html class="no-js" lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SOS Pichichos</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://kit.fontawesome.com/69460eb7b4.js" crossorigin="anonymous"></script>
    <!-- Favicon -->
    {{#each social}}
    <link rel="shortcut icon" href="{{logo}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{logo}}">
    {{/each}}


    <!-- Plugins -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/revoulation.css">
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- Style Css -->
    <link rel="stylesheet" href="/css/custom-styles.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/css/custom.css">
</head>